.video[data-v-aaa532c7]{border-radius:.8rem;box-shadow:0 2px .5rem var(--ld-shadow);contain:paint}article .video[data-v-aaa532c7]{margin:2rem auto}iframe[data-v-aaa532c7],video[data-v-aaa532c7]{display:block;height:100%;width:100%}
