.video[data-v-4adf618a]{border-radius:.8rem;box-shadow:0 2px .5rem var(--ld-shadow);overflow:hidden}article .video[data-v-4adf618a]{margin:2rem auto}iframe[data-v-4adf618a],video[data-v-4adf618a]{display:block;height:100%;width:100%}
